<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Incident Creation Success</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Incident Report Application
			System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/register}">New
						User</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/all}">View Incidents</a></li>
			</ul>
		</div>
	</nav>


	<div class="container text-center">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					Welcome <b> </b>
				</p>
				<input class="btn btn-primary btn-sm mb-3" type="submit"
					value="Sign Out" />
			</form>
		</div>
		<h3>New Incident Report Created successfully!</h3>
		<!-- <h4>
			<a th:href="@{/login}">Click here to Login</a>
		</h4> -->
	</div>

</body>
</html>