<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up - Incident System</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<title>report</title>
</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" th:href="@{/}">Incident Report Application
			System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Navbar links -->


		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">

				<li class="nav-item"><a class="nav-link"
					th:href="@{/newincident}">Add Incident </a></li>
				<li><form th:action="@{/logout}" method="post">
						<input class="btn btn-primary btn-sm mb-3" type="submit"
							value="Sign Out" />
					</form></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>List Incidents</h1>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Incident Creator Name</th>
					<th>Incident Title</th>
					<th>Incident Assignee</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="incident: ${incidents}">
					<td th:text="${incident.creator}"></td>
					<td th:text="${incident.title}"></td>
					<td th:text="${incident.assignee}"></td>
					<td th:text="${incident.status}"></td>
					<td><a th:href="@{/update/{id}(id=${incident.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/delete/{id}(id=${incident.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>

		</table>

	</div>


</body>
</html>